<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p class="text">{{ site.description }}</p>
        <div class="footer-author-wrapper">
            <div class="footer-author">
                {{ site.copyright }}{{ "today" | date: "%Y" }},
                <a href="{{ site.author_url }}">{{ site.author }}</a>
            </div>
            <div class="footer-author">
                {% for soc in site.social %}
                <a class="icon-{{ soc.icon }}" href="{{ soc.url }}">{{ soc.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');

</script>
</footer>
