@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?27083367');
  src: url('../font/fontello.eot?27083367#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?27083367') format('woff2'),
       url('../font/fontello.woff?27083367') format('woff'),
       url('../font/fontello.ttf?27083367') format('truetype'),
       url('../font/fontello.svg?27083367#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?27083367#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-rss:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-up:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-digg:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */
.icon-pinterest:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-tumblr:before { content: '\e80c'; } /* '' */
.icon-reddit:before { content: '\e80d'; } /* '' */
.icon-stumbleupon:before { content: '\e80e'; } /* '' */
.icon-delicious:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-share:before { content: '\e812'; } /* '' */
.icon-folder-open:before { content: '\e813'; } /* '' */
.icon-profile:before { content: '\e814'; } /* '' */
.icon-map:before { content: '\e815'; } /* '' */
.icon-globe:before { content: '\e816'; } /* '' */
.icon-text:before { content: '\e817'; } /* '' */
.icon-github:before { content: '\e818'; } /* '' */
.icon-stackoverflow:before { content: '\e819'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */